<div class="container">
	<h1>Nyheter</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="blog">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post news__wrapper {{slug}}">
					<a href="{{postUrl slug}}" class="row news">
						{{#if image.url}}
							<div class="news__text">
								{{else}}
								<div class="col-xs-12">
									{{/if}}

									<h2>{{{title}}}</h2>
									<p>{{{content.brief}}}</p>
									{{#if content.extended}}
									<p class="read-more">Läs vidare</p>{{/if}}
								</div>
								{{#if image.url}}
								<div class="news__image" style="background-image: url({{{cloudinaryUrl image width=400 height=400 crop='fit' }}})">

							</div>
						{{/if}}
					</a>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>